@import "tailwindcss";

/* --- MAGIA DRUKOWANIA --- */
@media print {
  /* Ukrywamy wszystko co ma klasę 'no-print' (przyciski, nawigacja) */
  .no-print {
    display: none !important;
  }
  
  /* Zmieniamy tło na białe i tekst na czarny, żeby nie zużyć tonera rekruterowi */
  body {
    background-color: white !important;
    color: black !important;
  }
}