@import "tailwindcss";

/* --- MAGIA DRUKOWANIA --- */
@media print {
  /* Ukrywamy wszystko co ma klasę 'no-print' (przyciski, nawigacja) */
  .no-print {
    display: none !important;
  }
  
  /* Zmieniamy tło na białe i tekst na czarny, żeby nie zużyć tonera rekruterowi */
  body {
    background-color: white !important;
    color: black !important;
  }
}
/* --- NIEWIDZIALNY SCROLL (Czysta Magia) --- */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE oraz Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Ukrywa pasek w Chrome, Safari i Operze */
}